<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
    crossorigin="anonymous">
  <link rel="stylesheet" href="css/style.css">
  <link rel="icon" href="/pizza.png">
  <title>401 | Page not found</title>
</head>
<body>
  <header>
      
    <div class="bg-light text-center pt-5" style="height: 100vh;">
        <div style="margin: 100px 300px">
            <img src="/acceso-no-permitido.jpg" class="d-block w-10" style="width:500px; height: 500px">
        </div>
        
      <div class="container" style="margin: -600px 800px; width: 700px">        
        <h1 class="display-1 pt-5 font-weight-bold">401</h1>
        <h1 class="display-4 pt-1 pb-3">Acceso no autorizado</h1>
        <h3 class="font-weight-light text-secondary">No tienes los permisos para visualizar este módulo, si cree que es un error comuníquese con el administrador.</h3>
        <a th:href="@{/cliente/}" class="btn btn-info mt-3 pt-3 pb-3 pr-4 pl-4" style="background-color: red">Regresar</a>
      </div>
    </div>
  </header>

</body>
</html>